body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
  }
  
  section {
    margin: 50px;
  }
  
  h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .tbl-content {
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .tbl-content-player {
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 300px;
  }
  
  th {
    padding: 20px15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  
  .modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    &:target {
      opacity: 1;
      pointer-events: auto;
    }
  
    &>div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #ffffff;
      color: #333333;
    }
  
    header {
      font-weight: bold;
    }
  
    h1 {
      font-size: 150%;
      margin: 0015px;
      color: #333333;
    }
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  
    &:hover {
      color: #000;
    }
  }
  
  form {
    .form-group {
      padding-bottom: 15px;
    }
  
    input,
    textarea,
    select {
      width: 235px;
      background-color: #f6f6f6;
      border: solid 1px#25c481;
      font-size: 13px;
      color: #000000;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    select {
      width: 246px;
    }
  
    label {
      font-size: 14px;
      color: #555555;
      font-weight: normal;
      display: block;
      float: left;
      margin: 0;
      padding: 3px13px00;
      text-align: right;
      width: 140px;
    }
  
    .checkbox {
      width: auto;
    }
  
    .submit-container {
      text-align: right;
    }
  
    .submit {
      background-color: #25b7c4;
      border: solid 1px#25c481;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 25px;
      padding-left: 25px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    &.requiredlabel {
      font-weight: bold;
    }
  
    span.requiredlabel {
      font-weight: bold;
    }
  }
  
  /* Demo Styles */
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font: 25px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: #f69d75;
    color: #555555;
  }
  
  a {
    color: inherit;
  }
  
  .container {
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .btn {
    background-color: #fff;
    padding: 1em1.5em;
    border-radius: 3px;
    text-decoration: none;
  
    i {
      padding-right: 0.3em;
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 006px rgba(0, 0, 0, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 006px rgba(0, 0, 0, 0.3);
  }